# NBA Birthday‑Paradox Notebook – 2024‑25 Season

In [42]:
import math 
from collections import Counter
import pandas as pd
from pathlib import Path

CSV_PATH = Path('nba_players_2024-25.csv')
df = pd.read_csv(CSV_PATH)
df = df.rename(columns={'Name':'name','name':'name','Team':'team','team':'team','Birth Date':'birthdate','birthdate':'birthdate'})
## df['birthdate'] = pd.to_datetime(df['birthdate'])
## df['Birthday'] = df['birthdate'].dt.strftime('%m-%d')
df.head()

   Index              name        Position  Age team   birthdate
0      0  Precious Achiuwa         Forward   25  NYK  1999-09-19
1      1      Steven Adams          Center   31  HOU  1993-07-20
2      2       Bam Adebayo  Center-Forward   27  MIA  1997-07-18
3      3      Ochai Agbaji           Guard   25  TOR  2000-04-20
4      4      Santi Aldama  Forward-Center   24  MEM  2001-01-10

In [ ]:
df['team'].value_counts()

In [12]:
def nCr(n, k):
    f = math.factorial
    return f(n)/  (f(k) * f(n - k))

## Q 1 – Birthday‑paradox probability for **n = 10**

In [13]:
A1 = 1 -(364/365)**nCr(10,2)
A1

0.11614023654879224

## Q 2 – Birthday‑paradox probability for **n = 15**

In [21]:
A2=1-(364/365)**comb(15,2)
A2

0.25028790861398265

## Q 3 – Define `birthday_probability(n)`

In [22]:
def birthday_probability(number_of_people):
    return 1 -(364 / 365)**nCr(number_of_people,2)

In [23]:
# Test group size 15
birthday_probability(15)

0.25028790861398265

## Q 4 – Display the new `Birthday` column

In [50]:
df['birthdate'] = pd.to_datetime(df['birthdate'])
df['birthday'] = df['birthdate'].dt.strftime('%m-%d')
df.head()

   Index              name        Position  Age team  birthdate birthday
0      0  Precious Achiuwa         Forward   25  NYK 1999-09-19    09-19
1      1      Steven Adams          Center   31  HOU 1993-07-20    07-20
2      2       Bam Adebayo  Center-Forward   27  MIA 1997-07-18    07-18
3      3      Ochai Agbaji           Guard   25  TOR 2000-04-20    04-20
4      4      Santi Aldama  Forward-Center   24  MEM 2001-01-10    01-10

## Q 5 – Pairs on the **Boston Celtics**

In [51]:
from itertools import combinations

In [91]:
team_df = df.loc[df['team'] == 'BOS'].copy()
name_df = pd.DataFrame(combinations(team_df['name'], 2), columns=("Player 1", "Player 2"))

In [90]:
birthday_df = pd.DataFrame(combinations(team_df['birthday'], 2), columns=("Birthday 1", "Birthday 2"))

In [89]:
check_df = pd.concat([name_df, birthday_df], axis =1 )

In [84]:
(check_df['Birthday 1'] == check_df['Birthday 2']).sum()

1

In [88]:
test = check_df.loc[(check_df['Birthday 1'] == check_df['Birthday 2'])]
test

         Player 1      Player 2 Birthday 1 Birthday 2
131  Jayson Tatum  Jordan Walsh      03-03      03-03

## Q 6 – Pairs on the **Cleveland Cavaliers**

In [95]:
teamCLE_df = df.loc[df['team'] == 'CLE'].copy()

In [98]:
birthdayCLE_df = pd.DataFrame(combinations(teamCLE_df['birthday'], 2), columns=("Birthday 1", "Birthday 2"))
nameCLE_df = pd.DataFrame(combinations(teamCLE_df['name'], 2), columns=("Player 1", "Player 2"))

In [103]:
checkCLE_df = pd.concat([nameCLE_df, birthdayCLE_df], axis =1 )

In [105]:
A6 = checkCLE_df.loc[(checkCLE_df['Birthday 1'] == checkCLE_df['Birthday 2'])]
A6

           Player 1      Player 2 Birthday 1 Birthday 2
40   Darius Garland   Isaac Okoro      01-26      01-26
73  De'Andre Hunter  Jaylon Tyson      12-02      12-02

## Q 7 – Who shares a birthday with **Ivica Zubac**?

In [113]:
IVbday_df = df.loc[df['name'] == 'Ivica Zubac', 'birthday'].squeeze()
IVbday_df

'03-18'

In [117]:
same_bd_df = df.loc[df['birthday'] == IVbday_df]
others = same_bd_df.loc[same_bd_df['name'] != 'Ivica Zubac', 'name']
others

77        Devin Carter
136          Kris Dunn
143      Jesse Edwards
289    Skal Labissiere
Name: name, dtype: object